@import "tailwindcss";
@plugin "daisyui" {
  themes: winter, dim;
}

html {
  scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@100..900&display=swap');

* {
  font-family: "Murecho", sans-serif;
}